<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>511079067004-2to4fh87er04endl6i79g16sd7aj5qh1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.511079067004-2to4fh87er04endl6i79g16sd7aj5qh1</string>
	<key>API_KEY</key>
	<string>AIzaSyAE-D_w6YQVi8dELaqq-0gmKa_LLCgUwHc</string>
	<key>GCM_SENDER_ID</key>
	<string>511079067004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.art22m.CornOffice</string>
	<key>PROJECT_ID</key>
	<string>beecoder-96c87</string>
	<key>STORAGE_BUCKET</key>
	<string>beecoder-96c87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511079067004:ios:9d1bfbe176c6f3516688f9</string>
</dict>
</plist>