<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>332314188980-np4d80vk87cf3ukfj6adn4vv1j24hhvc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332314188980-np4d80vk87cf3ukfj6adn4vv1j24hhvc</string>
	<key>API_KEY</key>
	<string>AIzaSyC5Pw5Whm66gjknVh6R0p17wKyEciwgyQw</string>
	<key>GCM_SENDER_ID</key>
	<string>332314188980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.art22m.CornOffice</string>
	<key>PROJECT_ID</key>
	<string>becoder-c9384</string>
	<key>STORAGE_BUCKET</key>
	<string>becoder-c9384.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332314188980:ios:cc84f4e41c2efcb7b7cbe1</string>
</dict>
</plist>